@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


a {
  font-family: 'Poppins', sans-serif;
  color: #372a25;
  font-size: 1rem;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: #9d9f9e;
    font-size: 1rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  color: #37336A;
}

h1 span {
  color: #D00031;
}

h4{
    font-family: 'Poppins', sans-serif;
    color: #37336A;
    font-weight: 600;
    font-size: 1.8rem;
}


h3 {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color: #9d9f9e;
}

h5{
    font-family: 'Poppins', sans-serif;
    color: #37336A;
    font-size: 1.1rem;

}
h2{
  color: #D00031;
  font-family: 'Poppins', sans-serif;   
}

.centralizar-links {
  margin: 0 auto;
  
}


.botaonavbar {
  color: #14B4BA;
  background-color: #37336A;
  padding: 10px 20px;
  border-radius: 8px;
}

.botaonavbar:hover{
  color: #372a25;
  background-color: #14B4BA;
  transition: 0.4s;
}

.chamadabox{
  padding-top: 5rem;
}

h1 span {
    color: #D00031;
  }

.features{
    background-color: #14B4BA;
    color: #000002;
    padding: 5px 15px;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.foto-texto{
    margin-top: 8rem;

}
.rowsfototexto{
    margin-bottom: 8rem;
}
.espacotexto{
    padding-top: 4rem;
}
.bground{
  background-image:width: 400px;
  height: 300px;
  background-image: url(https://images.hdqwalls.com/wallpapers/leather-abstract.jpg);
}
.cornav{
  background-color: #000002;
  opacity: 0.90;
}
.fontcor{
font-style: oblique;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:grey black
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

.env{
  background-color: #14B4BA;
  color: #000002;
}
hr{
  background-color: #D00031;
}

.mb-50 {
  margin-bottom: 50px;
}
.p-30 {
  padding: 70px;
  
}
.center {
  text-align: center;
}
.con{
  display: flex;
  flex-flow: row;
  justify-content: center ;
  align-items: center;
}
.tm-social {
  width: 50px;
  height: 50px;
}
.navv{
  border-radius: 1em;
}
